asgiref==3.3.1
click==7.1.2
Django==3.1.6
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
Markdown==3.3.3
markdown2==2.4.0
MarkupSafe==1.1.1
psycopg2-binary==2.8.6
python-decouple==3.4
Python-dev==2.0.0.dev0
pytz==2021.1
sqlparse==0.4.1
Werkzeug==1.0.1
whitenoise==5.2.0
